In [1]:
#using 'for loop'in the list
l1=[11,12,30,"nikita","python""data",12.11,12.1130,"True"]
type (l1)

list

In [12]:
#creating a new list l2 to make changes 
l2_num=[]
l2_string=[]
for i in l1:
    if type(i)==str:
        print: l2_string.append(i)
    else: 
         if type(i)== int or type== float:
            print: l2_num.append(i)

In [13]:
l2_num

[11, 12, 30]

In [14]:
l2_string

['nikita', 'pythondata', 'True']

In [28]:
for i in l1:
    print(i)
else:
    print("executed after if passing above line")

nikita
pw
skills
12.11
11
12
14
15
16
1.56
executed after if passing above line

In [37]:
#testing the 'break' command
l1=[11,12,30,"nikita","python""data",12.11,12.1130,"True"]
for i in l1:
        if i == "nikita":
            break
        print(i)

11
12
30

In [46]:
#testing break command doesnt support else command
l2=[11,30,15,12,1,1.45,'nikita','python',1.45,21]
for i in l2:
    if i == 'python':
        break
    print(i)
else:
    print('gonna check this wont work bcs its break code')

11
30
15
12
1
1.45
nikita

In [1]:
#testing 'continue' command
l1=['niki','dev','python',11.12,11,12.11]

In [2]:
for i in l1:
    if i == 'python':
        continue
    print(i)

niki
dev
11.12
11
12.11

In [3]:
#testing continue command with same i in two places
l2=['niki','dev',11,11.12,'dev',14,15,'python']
type (l2)

list

In [4]:
for i in l2:
    if i == 'dev':
        continue
    print(i)

niki
11
11.12
14
15
python

In [1]:
#making data using range
#this data means data from 0 to 20 with a jump of 2 after starting from 0 
range(0,20,2)

range(0, 20, 2)

In [2]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [3]:
#making data starting from -10 to 0
list(range(-10,0))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [4]:
#testing sum and result command for adding
l1=[1,2,14,14,14,15,15,4,6]
sum(l1)

85

In [14]:
#second way to add
l1=[1,2,14,14,14,15,15,4,6]
result = 0
for i in l1:
      result = result + i
result

85

In [17]:
#checking for loop in tuples data
t=(1,2,4,5,6,7,89,11)
result = 0
for i in t:
    result = result + i
result

125

In [24]:
s1="pwskills"
for i in s1:
    print(i)

p
w
s
k
i
l
l
s